<a href="https://colab.research.google.com/github/kathhack/sqlite_dataexploration/blob/main/Healthcare_Data_Explore_w_SQLite_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sqlite3

In [4]:
# Step 1: create a connection to SQLite database
conn = sqlite3.connect('test_database.db')

In [9]:
# Step 2: Create a Pandas data frame
df = pd.read_csv('U.S._Chronic_Disease_Indicators__CDI___2023_Release.csv')

<ipython-input-9-77174b8aa7b3>:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('U.S._Chronic_Disease_Indicators__CDI___2023_Release.csv')

In [10]:
df.head()
# testing if the data imported correctly

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2010,2010,OR,Oregon,NVSS,Cardiovascular Disease,Mortality from heart failure,NaN,NaN,Number,...,41,CVD,CVD1_4,NMBR,RACE,AIAN,NaN,NaN,NaN,NaN
1,2019,2019,AZ,Arizona,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,4,ALC,ALC1_1,CRDPREV,GENDER,GENF,NaN,NaN,NaN,NaN
2,2019,2019,OH,Ohio,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,39,ALC,ALC1_1,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN
3,2019,2019,US,United States,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,59,ALC,ALC1_1,CRDPREV,RACE,ASN,NaN,NaN,NaN,NaN
4,2015,2015,VI,Virgin Islands,YRBSS,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,...,78,ALC,ALC1_1,CRDPREV,GENDER,GENM,NaN,NaN,NaN,NaN

In [11]:
# save the dataframe to the SQLite database (step 2 in HW assignment, step 3 in example)
df.to_sql('chronic_disease_indicators', conn, if_exists='replace', index=False)

1185676

In [12]:
# trying a query
query = "SELECT * FROM chronic_disease_indicators LIMIT 5;"
result = pd.read_sql_query(query, conn)
print(result)

   YearStart  YearEnd LocationAbbr    LocationDesc DataSource  \
0       2010     2010           OR          Oregon       NVSS
1       2019     2019           AZ         Arizona      YRBSS
2       2019     2019           OH            Ohio      YRBSS
3       2019     2019           US   United States      YRBSS
4       2015     2015           VI  Virgin Islands      YRBSS

                    Topic                      Question Response  \
0  Cardiovascular Disease  Mortality from heart failure     None
1                 Alcohol       Alcohol use among youth     None
2                 Alcohol       Alcohol use among youth     None
3                 Alcohol       Alcohol use among youth     None
4                 Alcohol       Alcohol use among youth     None

  DataValueUnit     DataValueType  ... LocationID  TopicID QuestionID  \
0          None            Number  ...         41      CVD     CVD1_4
1             %  Crude Prevalence  ...          4      ALC     ALC1_1
2             %  Crude Prevalence  ...         39      ALC     ALC1_1
3             %  Crude Prevalence  ...         59      ALC     ALC1_1
4             %  Crude Prevalence  ...         78      ALC     ALC1_1

  DataValueTypeID  StratificationCategoryID1  StratificationID1  \
0            NMBR                       RACE               AIAN
1         CRDPREV                     GENDER               GENF
2         CRDPREV                     GENDER               GENM
3         CRDPREV                       RACE                ASN
4         CRDPREV                     GENDER               GENM

  StratificationCategoryID2 StratificationID2 StratificationCategoryID3  \
0                      None              None                      None
1                      None              None                      None
2                      None              None                      None
3                      None              None                      None
4                      None              None                      None

  StratificationID3
0              None
1              None
2              None
3              None
4              None

[5 rows x 34 columns]

In [13]:
# another query test
query = "SELECT DISTINCT YearStart FROM chronic_disease_indicators;"
result = pd.read_sql_query(query, conn)
print(result)

    YearStart
0        2010
1        2019
2        2015
3        2020
4        2018
5        2013
6        2011
7        2012
8        2016
9        2014
10       2017
11       2021
12       2009
13       2008
14       2001
15       2007

In [16]:
# Query 1
query = "SELECT DISTINCT LocationDESC FROM chronic_disease_indicators;"
result = pd.read_sql_query(query, conn)
print(result)

#

            LocationDesc
0                 Oregon
1                Arizona
2                   Ohio
3          United States
4         Virgin Islands
5                Alabama
6               Delaware
7                Florida
8                 Kansas
9            Mississippi
10            New Jersey
11          Pennsylvania
12          South Dakota
13               Vermont
14                Alaska
15              Arkansas
16              Colorado
17           Connecticut
18  District of Columbia
19               Georgia
20                Hawaii
21                  Iowa
22                 Idaho
23               Indiana
24              Kentucky
25             Louisiana
26         Massachusetts
27                 Maine
28              Michigan
29             Minnesota
30              Missouri
31               Montana
32          North Dakota
33              Nebraska
34         New Hampshire
35            New Mexico
36                Nevada
37              New York
38              Oklahoma
39          Rhode Island
40        South Carolina
41             Tennessee
42                 Texas
43                  Utah
44              Virginia
45            Washington
46             Wisconsin
47         West Virginia
48               Wyoming
49            California
50        North Carolina
51                  Guam
52              Illinois
53           Puerto Rico
54              Maryland

In [21]:
# Query 2 : Count the number of records that meet a certain condition -
query = "SELECT COUNT(*) FROM chronic_disease_indicators WHERE Topic = 'Alcohol';"
result = pd.read_sql_query(query, conn)
print(result)

   COUNT(*)
0     66091

In [22]:
# query that failed , another one for Query 2
query = "SELECT COUNT(*) FROM chronic_disease_indicators WHERE QUESTION = 'Mortality from heart failure';"
result = pd.read_sql_query(query, conn)
print(result)

   COUNT(*)
0     13221

In [23]:
# query 3: group the data by a specific column and calculate a summary statistic for each group
query = "SELECT LocationDesc, COUNT(*) FROM chronic_disease_indicators GROUP BY LocationDesc;"
result = pd.read_sql_query(query, conn)
print(result)

            LocationDesc  COUNT(*)
0                Alabama     22058
1                 Alaska     22157
2                Arizona     22271
3               Arkansas     22384
4             California     22037
5               Colorado     22417
6            Connecticut     22082
7               Delaware     22151
8   District of Columbia     21936
9                Florida     22311
10               Georgia     21980
11                  Guam     14009
12                Hawaii     22420
13                 Idaho     21842
14              Illinois     22157
15               Indiana     21872
16                  Iowa     22510
17                Kansas     21988
18              Kentucky     22375
19             Louisiana     22053
20                 Maine     22142
21              Maryland     22346
22         Massachusetts     22349
23              Michigan     22422
24             Minnesota     22023
25           Mississippi     22100
26              Missouri     22163
27               Montana     21973
28              Nebraska     22518
29                Nevada     22241
30         New Hampshire     22104
31            New Jersey     22550
32            New Mexico     22457
33              New York     22556
34        North Carolina     22346
35          North Dakota     21970
36                  Ohio     21953
37              Oklahoma     22093
38                Oregon     22352
39          Pennsylvania     22157
40           Puerto Rico     14406
41          Rhode Island     22273
42        South Carolina     22235
43          South Dakota     22264
44             Tennessee     22052
45                 Texas     21918
46         United States     10166
47                  Utah     22352
48               Vermont     22490
49        Virgin Islands     14077
50              Virginia     22058
51            Washington     22457
52         West Virginia     22407
53             Wisconsin     22556
54               Wyoming     22140

In [24]:
# query 4: sort the records based on a numerical or categorial field and return a limited set of results (like top 5)
query = "SELECT * FROM chronic_disease_indicators ORDER BY YearStart DESC LIMIT 5;"
result = pd.read_sql_query(query, conn)
print(result)

   YearStart  YearEnd LocationAbbr LocationDesc DataSource      Topic  \
0       2021     2021           DE     Delaware      BRFSS  Arthritis
1       2021     2021           NY     New York      BRFSS  Arthritis
2       2021     2021           NY     New York      BRFSS    Tobacco
3       2021     2021           NY     New York      BRFSS    Alcohol
4       2021     2021           NY     New York      BRFSS  Arthritis

                                            Question Response DataValueUnit  \
0  Adults aged >= 18 years with arthritis who hav...     None             %
1  Arthritis among adults aged >= 18 years who ha...     None             %
2  Current cigarette smoking among women aged 18-...     None             %
3  Binge drinking frequency among adults aged >= ...     None        Number
4  Arthritis among adults aged >= 18 years who ha...     None             %

      DataValueType  ... LocationID  TopicID QuestionID DataValueTypeID  \
0  Crude Prevalence  ...         10      ART     ART5_0         CRDPREV
1  Crude Prevalence  ...         36      ART     ART1_3         CRDPREV
2  Crude Prevalence  ...         36      TOB     TOB1_3         CRDPREV
3              Mean  ...         36      ALC     ALC3_0            MEAN
4  Crude Prevalence  ...         36      ART     ART1_3         CRDPREV

   StratificationCategoryID1  StratificationID1 StratificationCategoryID2  \
0                     GENDER               GENM                      None
1                       RACE                WHT                      None
2                       RACE                WHT                      None
3                       RACE                MRC                      None
4                       RACE                BLK                      None

  StratificationID2 StratificationCategoryID3 StratificationID3
0              None                      None              None
1              None                      None              None
2              None                      None              None
3              None                      None              None
4              None                      None              None

[5 rows x 34 columns]